<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bs.gsau.ssm.mapper.BMedicineMapper">
  <resultMap id="BaseResultMap" type="bs.gsau.ssm.pojo.BMedicine">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="CATEGORYID" jdbcType="DECIMAL" property="categoryid" />
    <result column="MEDNO" jdbcType="VARCHAR" property="medno" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="FACTORYADD" jdbcType="VARCHAR" property="factoryadd" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="PRICE" jdbcType="DECIMAL" property="price" />
    <result column="MEDCOUNT" jdbcType="DECIMAL" property="medcount" />
    <result column="PHOTO" jdbcType="VARCHAR" property="photo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, CATEGORYID, MEDNO, NAME, FACTORYADD, DESCRIPTION, PRICE, MEDCOUNT, PHOTO
  </sql>
  <select id="selectByExample" parameterType="bs.gsau.ssm.pojo.BMedicineExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from B_MEDICINE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from B_MEDICINE
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from B_MEDICINE
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="bs.gsau.ssm.pojo.BMedicineExample">
    delete from B_MEDICINE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="bs.gsau.ssm.pojo.BMedicine">
    insert into B_MEDICINE (ID, CATEGORYID, MEDNO, 
      NAME, FACTORYADD, DESCRIPTION, 
      PRICE, MEDCOUNT, PHOTO
      )
    values (#{id,jdbcType=DECIMAL}, #{categoryid,jdbcType=DECIMAL}, #{medno,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{factoryadd,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{medcount,jdbcType=DECIMAL}, #{photo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="bs.gsau.ssm.pojo.BMedicine">
    <selectKey order="BEFORE" keyProperty="id" resultType="int">
			SELECT B_MEDICINE_ID_SEQ.NEXTVAL FROM DUAL
	</selectKey>
    insert into B_MEDICINE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="categoryid != null">
        CATEGORYID,
      </if>
      <if test="medno != null">
        MEDNO,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="factoryadd != null">
        FACTORYADD,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="price != null">
        PRICE,
      </if>
      <if test="medcount != null">
        MEDCOUNT,
      </if>
      <if test="photo != null">
        PHOTO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="categoryid != null">
        #{categoryid,jdbcType=DECIMAL},
      </if>
      <if test="medno != null">
        #{medno,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="factoryadd != null">
        #{factoryadd,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="medcount != null">
        #{medcount,jdbcType=DECIMAL},
      </if>
      <if test="photo != null">
        #{photo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="bs.gsau.ssm.pojo.BMedicineExample" resultType="java.lang.Long">
    select count(*) from B_MEDICINE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update B_MEDICINE
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.categoryid != null">
        CATEGORYID = #{record.categoryid,jdbcType=DECIMAL},
      </if>
      <if test="record.medno != null">
        MEDNO = #{record.medno,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.factoryadd != null">
        FACTORYADD = #{record.factoryadd,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        PRICE = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.medcount != null">
        MEDCOUNT = #{record.medcount,jdbcType=DECIMAL},
      </if>
      <if test="record.photo != null">
        PHOTO = #{record.photo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update B_MEDICINE
    set ID = #{record.id,jdbcType=DECIMAL},
      CATEGORYID = #{record.categoryid,jdbcType=DECIMAL},
      MEDNO = #{record.medno,jdbcType=VARCHAR},
      NAME = #{record.name,jdbcType=VARCHAR},
      FACTORYADD = #{record.factoryadd,jdbcType=VARCHAR},
      DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      PRICE = #{record.price,jdbcType=DECIMAL},
      MEDCOUNT = #{record.medcount,jdbcType=DECIMAL},
      PHOTO = #{record.photo,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="bs.gsau.ssm.pojo.BMedicine">
    update B_MEDICINE
    <set>
      <if test="categoryid != null">
        CATEGORYID = #{categoryid,jdbcType=DECIMAL},
      </if>
      <if test="medno != null">
        MEDNO = #{medno,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="factoryadd != null">
        FACTORYADD = #{factoryadd,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        PRICE = #{price,jdbcType=DECIMAL},
      </if>
      <if test="medcount != null">
        MEDCOUNT = #{medcount,jdbcType=DECIMAL},
      </if>
      <if test="photo != null">
        PHOTO = #{photo,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="bs.gsau.ssm.pojo.BMedicine">
    update B_MEDICINE
    set CATEGORYID = #{categoryid,jdbcType=DECIMAL},
      MEDNO = #{medno,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      FACTORYADD = #{factoryadd,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      PRICE = #{price,jdbcType=DECIMAL},
      MEDCOUNT = #{medcount,jdbcType=DECIMAL},
      PHOTO = #{photo,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>